include /usr/share/nano/*.nanorc
include /usr/share/nano-syntax-highlighting/*.nanorc
include gitcommit.nanorc

set autoindent
set linenumbers
set numbercolor brightyellow
set mouse
set nonewlines
set softwrap
